:root {
  font-family: "Roboto", sans-serif;

  --clr-100: #f5f5f5;
  --clr-600: #00dfa2;
  --clr-610: #8fd5c2;
  --clr-620: #00c590;
  --clr-800: #c8c8c8;
  --clr-900: #222222;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

html,
body {
  scroll-behavior: smooth;
}
