@import url("../../index.css");
@import url("../../styles/product.css");

.product-detail-page-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.product-detail-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-top: 5rem;
  width: 50rem;
}

.product-detail-container > .left-section {
  width: 50%;
}

.product-detail-container > .right-section {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 3rem;
}

.product-detail-container > .left-section .image-container {
  background-color: var(--clr-800);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.product-detail-container > .left-section > .main-image-container {
  width: 100%;
  aspect-ratio: 1;
  margin-block-end: 1rem;
}

.product-detail-container > .left-section > .small-images-container {
  display: flex;
  gap: 1rem;
  width: 100%;
  height: 5rem;
  cursor: pointer;
}

.product-detail-container
  > .left-section
  > .small-images-container
  > .small-image {
  width: 5rem;
  height: 5rem;
}

.product-detail-container > .right-section > .product-name {
  font-size: 1.5rem;
  font-weight: bold;
  width: 25rem;
  word-wrap: break-word;
}

.order-btn {
  width: 100%;
  background-color: var(--clr-600);
  border: none;
  outline: none;
  padding-block: 0.75rem;
  border-radius: 0.5rem;
  color: var(--clr-100);
  box-shadow: 0 -0.3rem 0 0 var(--clr-620) inset;
  cursor: pointer;
  margin-block-start: auto;
}

.product-detail-container > .right-section > .availability > .available {
  color: green;
  font-weight: bold;
}

.product-detail-container > .right-section > .availability > .notavailable {
  color: red;
  font-weight: bold;
}

.right-section > .product-price {
  font-weight: bold;
  font-size: 2rem;
}

.similar-product-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-block-start: 10rem;
  margin-block-end: 10rem;
  position: relative;
}

.similar-product-container::before {
  content: "Similar Products";
  position: absolute;
  top: -5rem;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 2rem;
}
